{% extends 'Front.html.twig' %}

{% block body %}
    <style>
        #divDetailEvent{
            text-align: center;
            min-height: 100px;
            background-size:cover;
            padding: 10em 0;
            height: 100px;
            width: 1680px;
            display: table;
            background: url("{{ asset('images/back.jpg') }}") no-repeat fixed 0px 0px;
        }
    </style>
    <div id="divDetailEvent">
        <h3 class="tittle">Acceuil/Evènement/Détails</h3>
         <div class="button">
             <!--  <a href="#" class="button1"> Retourner vers la page d'acceuil</a>
               <a href="#" class="button1"> Quick View</a> -->
         </div>
    </div>
    <div class="content">
        <!--single-->
        <div class="single-wl3">
            <div class="container">
                <div class="single-grids">
                    <div class="col-md-9 single-grid">
                        <div class="single-top">
                            <div class="single-left">
                                <div class="flexslider">
                                    <ul class="slides">
                                        <li data-thumb="images/si.jpg">
                                            <div class="thumb-image"> <img src="{{ asset('EventsImages/'~ event.image) }}" data-imagezoom="true" class="img-responsive"> </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="single-right simpleCart_shelfItem">
                                <h4>{{ event.nom }}</h4>
                                <br>
                                <div class="block">
                                    <div class="starbox small ghosting"> </div>
                                </div>
                                <br>
                                <div class="description">
                                    <p><span>Description : </span> {{ event.description }}</p>
                                </div>

                                <div class="color-quality">
                                    <h6>Date :</h6><p>{{ event.date|date("d/m/y") }}</p>
                                    <h6>Lieu :</h6>{{ event.lieu }}

                                </div>
                                <p class="price item_price">{{ event.prix }}dt</p>
                                <div class="women">
                                    <span class="size"> </span>
                                  {% if ( x == 1 ) %}
                                        <a href="{{ path('updateEvent',{'id':event.idEvent}) }}" data-text="Modifier" class="my-cart-b item_add">Modifier</a>
                                        <a href="{{ path('deleteEvent',{'idEvent':event.idEvent}) }}" data-text="Supprimer" class="my-cart-b item_add">Supprimer</a>

                                 {% elseif x == 0 %}
                                    {% if part == 0 %}
                                    <a href="{{ path('participation',{'idEvent':event.idEvent}) }}" data-text="Participer" class="my-cart-b item_add">Participer</a>
                                        {% elseif part == 1 %}
                                            <a href="{{ path('sandbox_pdfexample',{'idEvent':event.idEvent}) }}" data-text="Imprimer ma ticket" class="my-cart-b item_add">Imprimer ma ticket</a>
                                        {% endif %}
                                  {% endif %}
                                    <a href="{{ path('ListeParticipants',{'idEvent':event.idEvent}) }}) }}" data-text="Liste des participants" class="my-cart-b item_add">Liste des participants</a>
                                </div>
                                <div class="social-icon">
                                    <!--      <a href="#"><i class="icon"></i></a>
                                    <a href="#"><i class="icon1"></i></a>
                                    <a href="#"><i class="icon2"></i></a>
                                    <a href="#"><i class="icon3"></i></a> -->
                                </div>

                            </div>
                            <div style="align-items: center">
                                {{ socialButtons() }}
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>


                    </div>
                    <div class="clearfix"> </div>
                </div>

            </div>
        </div>
    </div>
        <!--single-->

{% endblock %}